<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{%static 'img/favicon/favicon.ico'%}" type="image/x-icon">
    <!--temporario-->
    <link rel="stylesheet" href="{%static 'css/carrinho.css'%}">
</head>
<body>
    {%include 'componentes/nav_bar.html'%}
    <main>
        <aside>
            {%if carrinho%}
                <ul>
                    {%for item in carrinho%}
                        <li>
                            {{item.Produtos.Nome}}
                            <br>
                            <span>
                                {{item.Quantia}} X {{item.Produtos.Preço}}
                            </span>
                        </li>
                    {%endfor%}
                    <li>
                        total : {{Valor_total}}
                    </li>
                </ul>
                <button id="comprar">
                    Comprar
                </button>
            {%else%}
                <h1>
                    Nenhum item no carrinho
                </h1>
            {%endif%}
        </aside>
        <section>
            {%if carrinho%}
                {%for item in carrinho%}
                   {%include 'componentes/carrinho_produtos.html'%}
                {%endfor%}
            {%else%}
                <h1 class="aviso">
                    Não ha nenhum produto no carrinho
                </h1>
            {%endif%}
        </section>
    </main>
</body>
</html>