<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{%static 'img/favicon/favicon.ico'%}" type="image/x-icon">
    <!--temporario-->
    <link rel="stylesheet" href="{%static 'css/carrinho.css'%}">
</head>
<body>
    {%include 'componentes/nav_bar.html'%}
    <aside>
        <div id="display">
             {%if carrinho%}
        <ul id="produtos_itens">
            {%for item in carrinho%}
            <li>
                <span class="nome_produto">
                    {{item.Produtos.Nome}}
                </span>
                <span class="preço_produto">
                    {{item.Quantia}} X {{item.Produtos.Preço}}
                </span>
            </li>
            {%endfor%}
            total : {{Valor_total}}
        </ul>

    {%else%}
    <h1 class="aviso">
        Não ha nenhum produto no carrinho
    </h1>
    <h2>
        total : 0
    </h2>
      
    {%endif%}
        </div>
   
    </aside>
    <main>
        <section>
            {%if carrinho%}
                {%for item in carrinho%}
                   {%include 'componentes/carrinho_produtos.html'%}
                {%endfor%}
            {%else%}
                <h1 class="aviso">
                    Não ha nenhum produto no carrinho
                </h1>
            {%endif%}
        </section>
    </main>
</body>
</html>