<section class='paginetor_content'>
        {% if page_obj.has_previous %}
            <a href = "?page={{page_obj.previous_page_number}}" class='paginetor_link' id='previous_page_link'>
                Anterior
            </a>
        {% endif %}
        <p id='paginetor_count'>
            {{page_obj.number}}
        </p>
        {% if page_obj.has_next %}
            <a href = "?page={{page_obj.next_page_number}}" class='paginetor_link' id='next_page_link'>
                Proximo
            </a>
        {% endif %}
</section>