header{
    width: 100%;
    height: 15vh;
    background-image: url('/static/img/textura.png');
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 6;
    position: sticky;
    top: 0;
}



#menu_icone{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#logo_link{
    width:10%;
    height: 20%;
    margin-left: 2.5%;
}
#logo{
    width:100%;
    height: 100%;
}

#pesquisar_area{
    width: 35%;
    height: 35%;
    background-color: white;
    border-radius:25px ;
    display: flex;
    margin-left: 10%;
}


#pesquisa{
    width: 80%;
    position: relative;
    margin-left: 5%;
    border: none;
    outline: none;
}

#pesquisar_button{
    background: none;
    border: none;
    border-left: 1px black solid;
    width: 10%;
    height: 80%;
    margin-left: 1%;
    align-self: center;
}

#pesquisar_icone{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#user_nav_bar{
    width: 30%;
    height: 100%;
    margin-left: 5%;


    ul{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        }


         ul > li{
            width: 15%;
            height: 30%;
            
        }
            li > a{
            width: 100%;
            height: 100%;
            }

                a > img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                }
}

.page_itens::before{
    content: '';
    width: 100%;
    height: 100%;
    background: none;
    border-bottom: black solid 2px;
    position: absolute;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
    left: 0;
    z-index: 6;
    
}

.page_itens:hover::before{
    transform: scaleX(100%);
}

#page_pagina{
    width: 90%;
    border-radius: 15px;
    height: 7vh;
    position: sticky;
    left: 5%;
    top: 13%;
    background-color: var(--branco_opaco);
    z-index: 7;
  

        ul{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                list-style: none;
                margin-right: 2.5%;
                position: relative;
                cursor: pointer;
                
                a{
                    text-decoration: none;
                    color: black;
                    font-size: clamp(5px,0.7em + 1vh,1em);
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
}

#produtos_pesquisa_local{
    width: 70% ;
    height:250px ;
    left: 15%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--branco_opaco);
    overflow-y: scroll;
    z-index: 8;
    position: sticky;
    top: 18vh;
}

#produtos_pesquisa_local > h1{
    background-color: #F1F1F1;
    margin-top: 10%;
    z-index: 4;
    text-transform: capitalize;
}

.conteiner_pesquisa{
    width: 80%;
    height: 40%;
    border: #F1F1F1;
    position: relative;
    margin: 20px 0;
    z-index: 4;
    background-color: #F1F1F1;

    img{
        width: 20%;
        height: 100%;
        object-fit: contain;
        float: left;
    }

    hi{
        color: black;
        
    }
}


@media (max-width:980px){
    header{
        height: 10%;
    }
    #menu{
        margin-left: 5%;
    }
    #logo_link{
        width: 10%;
        height: 15%;
        margin-left: 15%;
    }

    #user_nav_bar{
        display: none;
    }

    #pesquisar_area{
        width: 40%;
        height: 30%;
        margin-left: 15%;
    }

    #pesquisa{
        height: 100%;
        border-radius: 25px;
    }

    #page_pagina{
        top: 9%;
        height: 5%;
        ul{
            li{
                a{
                    font-size: clamp(0.2em , 0.2em + 1vh , 1em);
                }
            }
        }
    }


}