.titulo_produtos_conteiner{
    margin: auto;
    margin-top: 5%;
    width: 500px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    border-bottom:4px solid black;
    text-transform: uppercase;
}

.produto{
    width: 20%;
    height: 55vh;
    background-color: var(--branco_opaco);
    margin: 5% ;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.produto_imagem{
    width: 80%;
    height: 60%;
    object-fit: contain;
}

.nome_produto{
    margin-top: 0;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

.produto_preço{
    font-size: 15px;
    margin-top: 5px;
}

.antigo_preço{
    text-decoration: line-through ;
    margin-bottom: 15px;
}

.desconto{
    background-color: var(--vermelho);
    color: white;
    padding: 5px 40px;
    font-weight: 700;
}

.produto_button{
    width: 80%;
    height: 10%;
    color: white;
    border: none;
    margin-top: 15px;
    background-color: var(--azul);
    left: 10%;
}