{%load static%}
<link rel="stylesheet" href="{%static 'css/nav_bar_perfil.css'%}">
{% include "componentes/menu.html" %}
<header>
    <button id="menu_button">
        <img src="{%static 'img/icones/menu.png '%}" alt="" id="menu_icone">
    </button>
    <a href="{%url 'index'%}" id="logo_link"><img src="{%static 'img/logo.png'%}" alt="" id="logo"></a>
    <a href="" class="link">
        <img src="{%static 'img/icones/suporte.png'%}" alt="" id="suporte">
    </a>
    <div class="button_nav">
        <img src="{%static 'img/icones/favoritos.png'%}" alt="" class="button_icone">
        <h1 class="content_button">
            favoritos
        </h1>
    </div>
    <a href="{%url 'carrinho'   %}" class="button_nav">
        <img src="{%static 'img/icones/carrinho.png'%}" alt="" class="button_icone">
        <h1 class="content_button">
            Carrinho
        </h1>
    </a>
</header>