<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eclipse</title>
    {%load static%}
    {% block links %}
    <!--componenetes e reutilizaveis-->
    <!--css-->
    <link rel="stylesheet" href="{%static 'css/nav_bar.css'%}">
    <link rel="stylesheet" href="{%static 'css/menu.css'%}">
    <link rel="stylesheet" href="{%static 'css/paginetor.css'%}">
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
    <link rel="stylesheet" href="{%static 'css/global.css'%}">
    <!--js-->
    <script type="module" src="{%static 'js/menu.js'%}"></script>
    <script type="module" src="{%static 'js/nav_bar.js'%}"></script>
    {% endblock links %}
</head>
<body>
    <header>
        <button id="menu_button">
            <img src="{%static 'img/icones/menu.png'%}" alt="" id="menu_icone" class="img_100">
        </button>
        <a href="{%url 'eclipse:index'%}" id='logo_link'><img src="{%static 'img/logo.png'%}" alt="" class="img_100"></a>
        <div id="pesquisar_area">
            <input type="search" id="pesquisa" placeholder="Buscar produtos, marcas e muito mais...">
            <button id="pesquisar_button">
                <img src="{%static 'img/icones/lupa.png'%}" alt="" id="pesquisar_icone" class="img_100">
            </button>
        </div>
        <nav id='user_nav_bar'>
            <ul>
                <li>
                    <a href="">
                        <img src="{%static 'img/icones/user.png'%}" alt="" class="img_100">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{%static 'img/icones/suporte.png'%}" alt="" class="img_100">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{%static 'img/icones/favoritos.png'%}" alt="" class="img_100">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{%static 'img/icones/carrinho.png'%}" alt="" class="img_100">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="menu">
        <nav>
            <ul id="menu_lista">
                <li class="itens_menu"><a href="{%url 'eclipse:index'%}" class="links_menu user_itens">Inicio</a></li>
                {%if user%}
                    <li class="itens_menu"><a href="" class="links_menu user_itens">Conta</a></li>
                {%else%}
                    <li class="itens_menu"><a href="" class="links_menu user_itens">Entrar</a></li>      
                {%endif%}              
                <li class="itens_menu"><a href="" class="links_menu user_itens">Carrinho</a></li>
                <li class="itens_menu"><a href="" class="links_menu user_itens">Favoritos</a></li>
                <li class="itens_menu"><a href="" class="links_menu user_itens">Suporte</a></li>
            </ul>
        </nav>
    </div>
    <main>
        {%block content%}
    
        {%endblock%}
    </main>
<footer>
    <h1>
        Contato
    </h1>
    <ul>
        <li>
            email:projetoeclipseloja@gmail.com
        </li>
    </ul>
</footer>
</body>
</html>