{%load static%}
<link rel="stylesheet" href="{%static 'css/componentes/nav_bar.css' %}">
<script type="module" src="{%static 'js/nav_bar.js'%}"></script>

{%include 'componentes/menu.html'%}
<header>
    <button id="menu_button">
        <img src="{%static 'img/icones/menu.png'%}" alt="" id="menu_icone">
    </button>
    <a href="{%url 'index'%}" id='logo_link'><img src="{%static 'img/logo.png'%}" alt="" id="logo"></a>
    <div id="pesquisar_area">
        <input type="search" id="pesquisa" placeholder="Buscar produtos, marcas e muito mais...">
        <button id="pesquisar_button">
            <img src="{%static 'img/icones/lupa.png'%}" alt="" id="pesquisar_icone">
        </button>
    </div>
    <nav id='user_nav_bar'>
        <ul>
            <li>
                <a href="{%url 'user'%}">
                    <img src="{%static 'img/icones/user.png'%}" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{%static 'img/icones/suporte.png'%}" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{%static 'img/icones/favoritos.png'%}" alt="">
                </a>
            </li>
            <li>
                <a href="{%url 'carrinho'%}">
                    <img src="{%static 'img/icones/carrinho.png'%}" alt="">
                </a>
            </li>
        </ul>
    </nav>

    
</header>
<nav id="page_pagina">
    <ul>
        <li >
            <a href="/#promoçoes_dia" class='page_itens'>
                ofertas do dia
            </a>
        </li>
        <li>
            <a href="/#main_produtos" class='page_itens'>
                produtos
            </a>
        </li>
        <li>
            <a href="" class='page_itens'>
                novidades
            </a>
        </li>
        <li>
            <a href="" class='page_itens'>
                contato
            </a>
        </li>
        <li>
            <a href="{%url 'sobre'%}" class='page_itens'> 
                sobre
            </a>
        </li>
    </ul>
</nav>
<aside id="produtos_pesquisa_local">

</aside>
