<div class = 'produto'>
    <img src="{{Produto.Imagem.url}}" alt="" class = 'produto_imagem'>
    <h1 class="nome_produto">
        {{Produto.Nome}}
    </h1>
    {%if Produto.desconto != None%}
        <h2 class = 'produto_preço antigo_preço'>
        R$ {{Produto.Preço}}
        </h2>
        <span class="desconto">R${{Produto.desconto}}</span>
    {%else%}
        <h2 class = 'produto_preço'>
        R$ {{Produto.Preço}}
        </h2>
    {%endif%}

    <button class = 'produto_button'>
        Comprar
    </button>
</div>