/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*componentes*/
@import url('componentes/produto_conteiner.css');

/*global selector*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body,html{
    width: 100%;
    height: 100vh;
    background-color: white;
}

body{
    height: auto;
}

/*variaveis*/

:root{
    --branco : #FFFFFF ;
    --branco_opaco : #F1F1F1 ;
    --cinza : #303A3E ;
    --azul : #18AEE0 ;
    --vermelho : #E03F69 ;
}

/*load*/
.load{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:none ;
    border: #303A3E 15px solid;
    border-top-color: var(--azul);
    position: relative;
    animation: load_animation 1s infinite cubic-bezier(0.5, 0.1, 0.5, 0.5);
    margin: 5%;
}

@keyframes load_animation{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}