@import url('/static/css/global.css');

main{
    height: 100vh;
}

section{
    height: 50%;
}


.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button{
    background-color: var(--branco_opaco);
    height: 100px;
    width: 20%;
    margin: 0 5% 0 5%;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;

    div{
        height: 100%;
        width: 100%;
    }
}

.icone_button{
    height: 70px;
    width: 50px;
    object-fit: contain;
    margin-right: 5%;
}

.text_button{
    color: black;
}


.titulo{
    margin-left: 10%;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-bottom: 2px solid black;
    width: fit-content;
}

#pedidos{
    width: 80%;
    height: 60%;
    background-color: var(--branco_opaco);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aviso{
    width: 100%;
    text-align: center;
    border-bottom: solid black 2px;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 20px;
}