<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%} 
    <link rel="shortcut icon" href="{%static 'img/favicon/favicon.ico'%}" type="image/x-icon">
    <title>Eclipse</title>
    <link rel="stylesheet" href="{%static 'css/user_enter.css'%}">
</head>
<body>
    <main>
        <section>
            <div id="conteiner_form">
                <img src="{%static 'img/logo.png'%}" alt="" id="logo">
                <form action="{%url 'user_cadastro'%}" method="post" id="cadastro_form">
                    {% csrf_token %}
                    <h1 class="form_titulo" id="cadastro_titulo">
                        <img src="{%static 'img/icones/perfil.png'%}" alt="" class="icone_form_titulo">
                        cadastrar
                    </h1>
                    <div class="input_local cadastro_input">
                        <img src="{%static 'img/icones/perfil.png'%}" alt="" class="icone_input">
                        {{form_cadastro.Nome}}
                    </div>
                    <div class="input_local cadastro_input">
                        <img src="{%static 'img/icones/email.png'%}" alt="" class="icone_input">
                        {{form_cadastro.Email}}
                    </div>
                    <div class="input_local cadastro_input">
                        <img src="{%static 'img/icones/senha.png'%}" alt="" class="icone_input">
                        {{form_cadastro.Senha}}
                    </div>

                    <input type="submit" value="Cadastrar">

                    

                </form>
                <form action="{%url 'user_login'%}" method="post" id="login_form">
                    {%csrf_token%}
                    <span id="entrar_aviso">
                        Ja tem uma conta? 
                        <button id="entrar" class = 'text'>
                            entrar
                        </button>
                    </span>
                    <h1 class="form_titulo" id="entrar_titulo">
                        <img src="{%static 'img/icones/perfil.png'%}" alt="" class="icone_form_titulo">
                        entrar
                    </h1>

                    <div class="input_local">
                        <img src="{%static 'img/icones/email.png'%}" alt="" class="icone_input">
                        {{form_login.Email}}
                    </div>
                    <div class="input_local">
                        <img src="{%static 'img/icones/senha.png'%}" alt="" class="icone_input">
                        {{form_login.Senha}}
                    </div>
                    <input type="submit" value="entrar">
                    {%if error%}
                        {{error}}
                    {%endif%}
                    <span>
                        Não tem uma conta? 
                        <button id="criar_conta" class = 'text'>
                            Criar Conta
                        </button>
                    </span>
                </form>
            </div>
        </section>
    </main>
    <!--temporario-->
    <script>
        const login_form = document.getElementById('login_form')
        const criar_conta = document.getElementById('criar_conta')
        const entrar = document.getElementById('entrar')
        const entrar_aviso = document.getElementById('entrar_aviso')
        const entrar_titulo = document.getElementById('entrar_titulo')
        const cadastro_titulo = document.getElementById('cadastro_titulo')
        const botoes = Array.from(document.getElementsByTagName('button'))

        botoes.forEach(element =>{
            element.addEventListener('click',(e)=>{
                e.preventDefault()
            })
        })

        criar_conta.addEventListener("click",()=>{
            login_form.style.transform = 'translateY(-15%)'
            entrar_aviso.style.display = 'block'
            login_form.style.borderRadius = '0' 
            cadastro_titulo.style.transform = 'translateY(0px)'
            setTimeout(()=>{
                entrar_titulo.style.transform = 'translateY(50px)'
                entrar_aviso.style.transform = 'translateY(20px)'
                
            },450)
        })
        
        entrar.addEventListener('click',()=>{
            entrar_aviso.style.transform = 'translateY(150px)'
            setTimeout(()=>{
                cadastro_titulo.style.transform = 'translateY(50px)'
                login_form.style.transform = 'translateY(-100%)'
                login_form.style.borderRadius = '60px 60px 0 0 ' 
                entrar_aviso.style.display = 'none'
                entrar_titulo.style.transform = 'translateY(0)'
                
            },450)
            
        })
    </script>
</body>
</html>