<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <script type="module" src="{%static 'js/index.js'%}"></script>
</head>
<body>  
    {%include 'componentes/nav_bar.html'%}
    <main>
        <section>

        </section>
        <section>
            <div id="voce_pode_gostar" class="produtos_conteiner">
                <h1 class="titlu_">voce pode gostar</h1>
            </div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>