<!DOCTYPE html>
<html lang="pt-br">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'img/favicon/favicon.ico'%}" type="image/x-icon">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <script type="module" src="{%static 'js/index.js'%}"></script>
</head>
<body>  
    {%include 'componentes/nav_bar.html'%}
    <main id = 'main_produtos'>
        <section>
            <div id="banner" role="banner">
                <div id="conteudo">
                    <h1 id="banner_titulo">
                        Airpods max
                    </h1>
                    <p id="more_info">
                        <a href="">Mais informações e Produtos</a>
                    </p>
                </div>
                <img src="{%static 'img/Airpods max.png'%}" alt="" id="imagem_banner">
                <div class="button_local">
                    <button class="banner_button">
                        comprar
                    </button>
                    <button class="banner_button">
                        detalhes
                    </button>
                </div>
            </div>
            <div id="conteiner_categoria">
                <a href="{% url 'Categoria_view' 'gamer' %}">
                    <div class="categoria cinza">
                        <img src="{%static 'img/categorias/gamer.png'%}" alt="" class="categoria_imagem">
                        <h1 class="categoria_nome">
                            gamer
                        </h1>
                    </div>
                </a>
                <a href="{%url 'Categoria_view' 'escritorio'%}">
                    <div class="categoria azul">
                        <img src="{%static 'img/categorias/escritorio.png'%}" alt="" class="categoria_imagem">
                        <h1 class="categoria_nome">
                            Notebooks e escritorio
                        </h1>
                    </div>
                </a>
                <a href="{%url 'Categoria_view' 'upgrade'%}">
                    <div class="categoria vermelho">
                        <img src="{%static 'img/categorias/upgrade.png'%}" alt="" class="categoria_imagem">
                        <h1 class="categoria_nome">
                            upgrade
                        </h1>
                    </div>
                </a>
            </div>
        </section>
        <section>
            <h1 class="titulo_produtos_conteiner">voce pode gostar</h1>
            <div id="voce_pode_gostar" class="produtos_conteiner">
            </div>
            <button id="more">
                mostrar mais
            </button>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>