<!DOCTYPE html>
<html lang="pt-br">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'img/favicon/favicon.ico'%}" type="image/x-icon">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/produto.css'%}">
    <script type="module" src="{%static 'js/produtos_views.js'%}"></script>
</head>
<body>
    {%include 'componentes/nav_bar.html'%}
    <main>
        <section class='flex'>
            <!--pode adicionar classes ou id para usar o css-->
            
            <div id="imagem_produto_view">
                <img src="{{produto.Imagem.url}}" alt="" id = 'produto_imagem'>
            </div>
            <div id="conteudo">
                <h1 id="nome">
                    {{produto.Nome}}
                </h1>
                <img src="{%static 'img/estrelas.png'%}" alt="" id="avaliação">
                <h2 id="preço">
                    R${{produto.Preço}}
                </h2>
                <h3>
                    cor
                </h3>
                <ul id="lista_cores">

                </ul>
                
            </div>
            <aside>
                <button class="cinza" id="carrinho_button">
                    carrinho
                </button>
                <button class="azul">
                    comprar
                </button>
            </aside>
            
            
        </section>
        <section>
            <h1>Descrição</h1>
            <p id="descrição">
                {{produto.Descrição}}
            </p>

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>